{% extends 'ColzakStaticBundle::layout.html.twig' %}

{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top clzk-navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header col-md-3 col-sm-3 col-xs-3">
                <a class="navbar-brand" href="{{ path('colzak_static_homepage') }}"><span class="hidden-xs">buskeet</span><span class="visible-xs">b</span></a>
            </div>
            <div class="nav navbar-nav navbar-right col-md-9 col-sm-9 col-xs-9 pull-right">
                <div class="pull-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <!-- <div class="col-md-6"> -->
                            <ul class="nav navbar-nav navbar-right">
                                {% if is_granted('ROLE_USER') %}
                                    <!-- Notif (feature) -->
                                    {#<li><a href="#">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        <span class="label label-danger">4</span>
                                    </a></li>#}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="pull-left clzk-navbar-profile-picture-container">
                                                {% if app.user.profile.photos|length > 0 %}
                                                    {% for photo in app.user.profile.photos %}
                                                        {% if photo.isProfilePicture %}
                                                            <img src="{{ photo.thumbPath }}" class="img-responsive" width="50">
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <img src="/img/user_256.png" alt="..." class="img-responsive clzk-navbar-profile-picture" width="50">
                                                {% endif %}
                                            </div>
                                            <div class="pull-left">
                                                {{ app.user.profile.firstname }}
                                            </div>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('colzak_user_homepage', { username: app.user.username }) }}"><span class="glyphicon glyphicon-user"></span> Mon profil</a></li>
                                            <li><a href="{{ path('colzak_user_account') }}"><span class="glyphicon glyphicon-cog"></span> Mon compte</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span> <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            {{ render(controller('ColzakMessageBundle:Message:lastThread')) }}
                                            <li class="divider"></li>
                                            <li><a href="{{ path('colzak_user_inbox') }}"><span class="glyphicon glyphicon-envelope"></span> Messagerie</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Connexion</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#register-modal">Inscription</a></li>
                                {% endif %}
                                <!-- <li><a href="#">Ajouter un évènement</a></li> -->
                            </ul>
                        <!-- </div> -->
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body %}
    <div class="clzk-pre-body">
        <div class="container">
            <div class="clzk-home-container clzk-search-container">
                <div class="clzk-search-home-container">
                    <blockquote class="pull-right">
                        <p>La musique commence ici.</p>
                        <!-- <small>Someone famous in <cite title="Source Title">Source Title</cite></small> -->
                    </blockquote>
                    <div class="clearfix"></div>
                </div>

                <div class="clzk-search-home-container">
                    <div class="form-horizontal" role="form">
                        <div class="col-md-12 col-sm-12 col-xs-12 input-group">
                            <input type="text" class="form-control input-lg" id="clzk-search-input" placeholder="Ou êtes-vous ?">
                            <span class="input-group-addon clzk-geoloader hidden"><img src="/img/ajax-loader.gif" class="img-responsive" width="20"></span>
                            <span class="input-group-addon clzk-search-form-geolocation-btn"><span class="glyphicon glyphicon-map-marker"></span></span>
                            <span class="input-group-addon clzk-search-form-submit-btn btn-primary"><span class="glyphicon glyphicon-search"></span> Rechercher</span>
                            <input type="hidden" id="clzk-search-addressNumber" name="clzk-search-addressNumber">
                            <input type="hidden" id="clzk-search-addressStreet" name="clzk-search-addressStreet">
                            <input type="hidden" id="clzk-search-addressCity" name="clzk-search-addressCity">
                            <input type="hidden" id="clzk-search-addressCountry" name="clzk-search-addressCountry">
                            <input type="hidden" id="clzk-search-addressZipcode" name="clzk-search-addressZipcode">
                            <input type="hidden" id="clzk-search-addressSublocality" name="clzk-search-addressSublocality">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="clzk-home-container clzk-home-description-container">
        <h3 class="text-center mt1">Vivez au rythme de la musique</h3>
        <p class="text-center">
            Avec une communauté grandissante de street performers, buskeet est l'endroit idéal pour faire de nouvelles rencontres musicales. Partagez et faites vibrer votre public quelque soit l'heure, quelque soit le lieu. Désormais, vous n'êtes plus seul.
        </p>
    </div>

    <div class="clzk-home-container">
        <h3 class="text-cyan">Les derniers musiciens sur buskeet</h3>
        {{ render(controller('ColzakUserBundle:Profile:getLastRegisteredUsers')) }}
    </div>

    <div class="clzk-home-container clzk-home-social-actions-container">
        <h3 class="text-center mt1">Retrouvez également la communauté sur</h3>
        <div class="text-center">
            <ul class="list-inline">
                <li><img class="social-logo" src="/img/social/fb_white_29.png" width="30"></li>
                <li><img class="social-logo" src="/img/social/twitter_white.png" width="30"></li>
            </ul>
        </div>
    </div>

    <footer class="clzk-footer row">
        <nav class="navbar navbar-inverse mb0" role="navigation">
            <div class="col-md-12 text-center">
                <ul class="list-inline pt1">
                    <li><a href="{{ path('colzak_static_about') }}">A propos</a></li>
                    <li><a href="{{ path('colzak_static_cgu') }}">CGU</a></li>
                    <li><a href="{{ path('colzak_static_privacy') }}">Confidentialité</a></li>
                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </div>
        </nav>
    </footer>
{% endblock %}
