{% extends 'ColzakUserBundle::layout.html.twig' %}

{% block title %}Buskeet | {{ profile.firstname }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ profile.firstname }}, musicien de {{ profile.birthdate|date('Y-m-d')|age }} ans, à {{ profile.locality }}">
{% endblock %}

{% block extra_stylesheets %}
    {% stylesheets
        "css/jquery.timepicker.css"
        "css/profile.css"
        "css/select2.css"
        "css/select2-bootstrap.css"
        filter="uglifycss"
        filter="cssrewrite"
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {#} Profile {#}
    {#} PROFILE FIRST RENDER {#}
    <div id="clzk-main-region" class="clzk-profile-region"></div>

    {#} PROFILE TEMPLATES {#}
    {#} Profile Layout {#}
    <script type="text/template" id="clzk-profile-layout">
        {#} Cover photo {#}
        <div class="clzk-profile-cover-container">
            <div class="container">
                <div class="clzk-profile-cover-actions-container btn-group hidden">
                    {% if app.user.profile.id == profile.id %}
                        <button type="button" id="change-cover-photo-button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture"></span>&nbsp;Changer ma photo de couverture</button>
                        <button type="button" id="edit-button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span>&nbsp;Modifier mon profil</button>
                    {% else %}
                        <button type="button" id="follow-button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Suivre {{ profile.firstname }}</button>
                        <button type="button" id="message-button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Message</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="clzk-profile-photo-map-container bg-dark">
                        <div class="clzk-profile-map-container">
                            <div id="clzk-profile-map-region"></div>
                        </div>
                        <div class="clzk-profile-photos-container">
                            <div id="clzk-profile-photos-region"></div>
                        </div>
                        <div class="clzk-profile-informations-container">
                            <div id="clzk-profile-informations-region"></div>
                        </div>

                        <div id="clzk-profile-portfolio-region" class="hidden-xs"></div>
                    </div>
                    <button type="button" id="edit-button-xs" class="btn btn-default btn-sm btn-block mt1 visible-xs"><span class="glyphicon glyphicon-edit"></span>&nbsp;Modifier mon profil</button>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div id="clzk-profile-description-region"></div>
                    <div id="clzk-profile-events-region"></div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div id="clzk-profile-followers-region" class="mt2"></div>
                </div>
            </div>
        </div>
    </script>

    {#} Modal Layout {#}
    <script type="text/template" id="clzk-modal-layout">
        <div id="clzk-modal-content-region"></div>
    </script>

    {#} Templates {#}

    {#} Profile map {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_map.html.twig' %}

    {#} Profile photo {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_photos.html.twig' %}

    {#} Profile informations {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_informations.html.twig' %}

    {#} Profile description {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_description.html.twig' %}

    {#} Profile portfolio {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_portfolio.html.twig' %}

    {#} Profile events {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_events.html.twig' %}

    {#} Contact {#}
    {% include 'ColzakUserBundle:Profile:templates/contact.html.twig' %}

    {#} Profile followers {#}
    {% include 'ColzakUserBundle:Profile:templates/profile_followers.html.twig' %}


    {#} EDIT {#}
    <div id="clzk-form-region" class="clzk-profile-edit-region hidden"></div>
    
    <script type="text/template" id="clzk-profile-edit-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="clzk-profile-edit-actions-region"></div>
                </div>
                <div class="col-md-6">
                    <div id="clzk-profile-edit-region"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="clzk-profile-menu-template">
        <ul class="list-group">
            <% if (owner) { %>
                <li class="list-group-item"><a href="#" class="clzk-context-links edit-button" data-form="profile"><h5>MON PROFIL</h5></a></li>
                <li class="list-group-item edit-button" data-form="informations"><a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mes informations</a></li>
                <li class="list-group-item edit-button" data-form="photos"><a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Mes photos</a></li>
                <!-- <li class="list-group-item edit-button" data-form="movies"><a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;&nbsp;Mes vidéos</a></li> -->
                <li class="list-group-item edit-button" data-form="portfolio"><a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-music"></span>&nbsp;&nbsp;Mon portfolio</a></li>
                <li class="list-group-item edit-button" data-form="events"><a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;Jam session</a></li>
            <% } else { %>
                <% if (isFollowing) { %>
                    <li class="follow-button btn btn-danger btn-block btn-lg mb1">
                        <a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Ne plus suivre</a>
                    </li>
                <% } else { %>
                    <li class="follow-button btn btn-primary btn-block btn-lg mb1">
                        <a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Suivre ce musicien
                    </li>
                <% } %>
                <li class="list-group-item contact-button"><a href="#" class="clzk-context-links"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Contacter</a></li>
            <% } %>
        </ul>
    </script>
{% endblock %}

{% block extra_modal %}
    <div class="modal fade" id="clzk-modal" role="dialog">
        <div class="modal-dialog container">
            <div class="modal-content" id="clzk-modal-region">
                <div id="clzk-profile-photos-carousel" class="carousel slide">
                    <button type="button" class="close close-carousel-btn" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for photo in photos %}
                            <div class="item {% if profilePicture.id == photo.id %} active {% endif %}">
                                <img src="{{ photo.path }}" class="img-responsive"/>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#clzk-profile-photos-carousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#clzk-profile-photos-carousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    {% javascripts
        "js/jquery/ui-widgets/jquery.ui.datepicker.min.js"
        "js/jquery/jquery.timepicker.min.js"
        "js/vendor/underscore-1.4.4.min.js"
        "js/vendor/backbone.min.js"
        "js/vendor/backbone-deepmodel-min.js"
        "js/vendor/backbone.marionette-1.0.1.min.js"
        "js/vendor/backbone.stickit.min.js"
        "js/vendor/backbone-memento.min.js"
        "js/vendor/moment-2.0.0.min.js"
        "js/vendor/moment.lang.fr.min.js"
        "js/jquery/jquery.iframe-transport.js"
        "js/jquery/jquery.fileupload.js"
        "js/jquery/jquery.fileupload-fp.js"
        "js/vendor/select2.min.js"
        "js/translate.js"
        "js/app/App.js"
        "js/app/Profile.js"
        "js/app/views/ProfileMapView.js"
        "js/app/views/ProfilePhotosView.js"
        "js/app/views/ProfileInformationsView.js"
        "js/app/views/ProfileDescriptionView.js"
        "js/app/views/ProfileFollowersView.js"
        "js/app/views/ProfileMessageView.js"
        "js/app/views/ProfilePortfolioView.js"
        "js/app/views/ProfileMenuView.js"
        "js/app/views/ProfileEventsView.js"
        "js/app/models/Profile.js"
        "js/app/models/Portfolio.js"
        "js/app/models/Photo.js"
        "js/app/models/ProfileEvent.js"
        "js/app/models/Message.js"
        "js/app/views/ContactView.js"
        filter="uglifyjs2"
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>

    {% endjavascripts %}
    <script type="text/javascript">
    $(document).ready(function() {
        NProgress.start();
        moment.lang('fr');
        var options = {
                module: "user",
                userId: "{{ userId }}",
                visitorId: "{{ visitorId }}",
                visitor: {{ app.user|serialize|raw }},
                path: "{{ path(app.request.attributes.get('_route')) }}"
        };
        App.start(options);
    })
    </script>
{% endblock %}
