{% form_theme form 'ColzakUserBundle:Form:fields.html.twig' %}
<h2 class="text-cyan">Réinitialiser mon mot de passe</h2><br />

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.second) }}
    {{ form_rest(form) }}
    <!-- <div class="row"> -->
        <!-- <div class="col-md-2 col-sm-4 col-xs-6 pull-right"> -->
            <input type="submit" class="btn btn-primary btn-lg pull-right" value="Valider">
        <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="clearfix"></div> -->
</form>
<!-- <div class="clearfix"></div> -->