<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}buskeet{% endblock %}</title>
        {% block meta %}
            <meta name="description" content="Vivez et partagez des expériences musicales uniques quel que soit le moment, quel que soit le lieu">
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets
                "bootstrap/css/bootstrap.min.css"
                "css/jquery-ui.min.css"
                "css/jquery.ui.datepicker.min.css"
                "css/jquery.mmenu.css"
                "css/jquery.mmenu-positioning.css"
                "css/nprogress.css"
                "css/global.css"
                "css/theme.css"
                "css/default.css"
                filter="uglifycss"
                filter="cssrewrite"
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            {% block extra_stylesheets %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

        {#} Analytics {#}
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-49599107-2', 'auto');
              ga('send', 'pageview');

        </script>
    </head>
    <body>
        {% spaceless %}
        <header class="clzk-header">
            {% block header %}
                <nav class="navbar navbar-inverse navbar-fixed-top clzk-navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="navbar-header col-md-3 col-sm-3 col-xs-4">
                                
                                {% if is_granted('ROLE_USER') %}
                                    <!-- Menu button for x-screen -->
                                    <a href="#left-menu" class="xs-screen-menu-link xs-screen-menu-link-menu visible-xs visible-sm"><span class="glyphicon glyphicon-align-justify"></span></a>&nbsp;
                                {% endif %}

                                <a class="navbar-brand" href="{{ path('colzak_static_homepage') }}">
                                    <img src="/img/logo_buskeet.png" class="buskeet_logo hidden-xs">
                                    <img src="/img/logo_buskeet_xs.png" class="buskeet_logo visible-xs">
                                </a>
                            </div>
                            <div class="nav navbar-nav navbar-right col-md-9 col-sm-9 col-xs-9 pull-right">
                                <div class="pull-right" id="right-menu">
                                    <div class="visible-xs visible-sm">
                                        {% if is_granted('ROLE_USER') %}
                                            <div class="pull-left clzk-navbar-profile-picture-container">
                                                {% if app.user.profile.photos|length > 0 %}
                                                    {% for photo in app.user.profile.photos %}
                                                        {% if photo.isProfilePicture %}
                                                            <img src="{{ photo.thumbPath }}" class="img-responsive" width="50">
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% if app.user.profile.gender == 'MALE' %}
                                                        <img src="/img/male.png" alt="..." class="img-responsive clzk-navbar-profile-picture" width="50">
                                                    {% else %}
                                                        <img src="/img/female.png" alt="..." class="img-responsive clzk-navbar-profile-picture" width="50">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="pull-left">
                                                {{ app.user.profile.firstname }}
                                            </div>
                                            <div class="clearfix"></div>
                                            <ul class="nav navbar-nav">
                                                <li class="clearfix"><a href="{{ path('colzak_user_homepage', { username: app.user.username }) }}"><span class="glyphicon glyphicon-user"></span> Mon profil</a></li>
                                                <li><a href="{{ path('colzak_user_account') }}"><span class="glyphicon glyphicon-cog"></span> Mon compte</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('colzak_user_inbox') }}"><span class="glyphicon glyphicon-envelope"></span> Messagerie</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
                                            </ul>
                                        {% else %}
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="dropdown hidden-xs">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connexion</a>
                                                    <div class="dropdown-menu login-dropdown">
                                                        {{ render(controller('ColzakUserBundle:Security:embeddedLogin')) }}
                                                    </div>
                                                </li>
                                                <li class="visible-xs">
                                                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                                                </li>
                                                <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </div>

                                    <div class="hidden-xs hidden-sm">
                                        <ul class="nav navbar-nav navbar-right">
                                            {% if is_granted('ROLE_USER') %}
                                                <!-- Notif (feature) -->
                                                {#<li><a href="#">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                    <span class="label label-danger">4</span>
                                                </a></li>#}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <div class="pull-left clzk-navbar-profile-picture-container">
                                                            {% if app.user.profile.photos|length > 0 %}
                                                                {% for photo in app.user.profile.photos %}
                                                                    {% if photo.isProfilePicture %}
                                                                        <img src="{{ photo.thumbPath }}" class="img-responsive" width="50">
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                {% if app.user.profile.gender == 'MALE' %}
                                                                    <img src="/img/male.png" alt="..." class="img-responsive clzk-navbar-profile-picture" width="50">
                                                                {% else %}
                                                                    <img src="/img/female.png" alt="..." class="img-responsive clzk-navbar-profile-picture" width="50">
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="pull-left">
                                                            {{ app.user.profile.firstname }}
                                                        </div>
                                                        <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('colzak_user_homepage', { username: app.user.username }) }}"><span class="glyphicon glyphicon-user"></span> Mon profil</a></li>
                                                        <li><a href="{{ path('colzak_user_account') }}"><span class="glyphicon glyphicon-cog"></span> Mon compte</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span> <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        {{ render(controller('ColzakMessageBundle:Message:lastThread')) }}
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-question-sign"></span> <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('colzak_static_about') }}">A propos</a></li>
                                                        <li><a href="{{ path('colzak_static_cgu') }}">CGU</a></li>
                                                        <li><a href="{{ path('colzak_static_privacy') }}">Confidentialité</a></li>
                                                    </ul>
                                                </li>
                                            {% else %}
                                                {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) != path('fos_user_security_login') %}
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connexion</a>
                                                        <div class="dropdown-menu login-dropdown">
                                                            {{ render(controller('ColzakUserBundle:Security:embeddedLogin')) }}
                                                        </div>
                                                    </li>
                                                {% endif %}
                                                {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) != path('fos_user_registration_register') %}
                                                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                                {% endif %}
                                            {% endif %}
                                                <!-- <li><a href="#">Ajouter un évènement</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="pull-right clzk-search-navbar">
                                    <div class="input-group pull-right">
                                        <input type="text" class="form-control clzk-form-control clzk-search-form" id="clzk-search-input" placeholder="Où êtes-vous ?">
                                        <span class="input-group-addon clzk-input-group-addon clzk-geoloader hidden"><img src="/img/ajax-loader.gif" class="img-responsive" width="20"></span>
                                        <span class="input-group-addon clzk-input-group-addon clzk-search-form-geolocation-btn"><span class="glyphicon glyphicon-map-marker"></span></span>
                                        <span class="input-group-addon clzk-input-group-addon clzk-search-form-submit-btn"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="hidden" id="clzk-search-addressNumber" name="clzk-search-addressNumber">
                                        <input type="hidden" id="clzk-search-addressStreet" name="clzk-search-addressStreet">
                                        <input type="hidden" id="clzk-search-addressCity" name="clzk-search-addressCity">
                                        <input type="hidden" id="clzk-search-addressCountry" name="clzk-search-addressCountry">
                                        <input type="hidden" id="clzk-search-addressZipcode" name="clzk-search-addressZipcode">
                                        <input type="hidden" id="clzk-search-addressSublocality" name="clzk-search-addressSublocality">
                                        <!-- Menu button for x-screen -->
                                        <a href="#right-menu" class="xs-screen-menu-link-right xs-screen-menu-link-menu visible-xs pull-right visible-sm">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="caret"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}
        </header>

        <div class="container-fluid clzk-global-container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="clzk-php-flash-messages-container alert alert-warning">
                    <div class="row">
                        <div class="col-md-2 sign-container">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <div class="col-md-8">
                            <p class="message-text">{{ flashMessage }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="clzk-php-flash-messages-container alert alert-danger">
                    <div class="row">
                        <div class="col-md-2 sign-container">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </div>
                        <div class="col-md-8">
                            <p class="message-text">{{ flashMessage }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="clzk-flash-messages-container alert">
                <div class="row">
                    <div class="col-md-2 sign-container">
                        <span class="glyphicon message-sign"></span>
                    </div>
                    <div class="col-md-8">
                        <p class="message-text"></p>
                    </div>
                </div>
            </div>
            {% block body %}
                <div class="row full-height">
                    <div class="col-md-2 clzk-left-region" id="left-menu">
                        {% block menu_region %}{% endblock %}
                    </div>
                    <div class="col-md-10 clzk-right-region">
                        <div class="clzk-scrolling-content row">
                            <div class="col-md-12">
                                {% block content_region %}{% endblock %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class="clzk-help-container"></div>
            <!-- <div id="fb-root"></div> -->
        </div>

        <div class="clearfix"></div>
        {% block extra_modal %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                "bundles/fosjsrouting/js/router.js"
                "js/jquery/jquery.min.js"
                "js/jquery/ui-widgets/jquery.ui.widget.min.js"
                "js/jquery/jquery.ui.core.min.js"
                "js/jquery/jquery.mmenu.min.js"
                "bootstrap/js/bootstrap.min.js"
                "js/vendor/nprogress.js"
                "js/global.js"
                filter="uglifyjs2"
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            {% if app.debug %}
                {% javascripts
                    "js/fos_js_routes.dev.js"
                    filter="uglifyjs2"
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts
                    "js/fos_js_routes.prod.js"
                    filter="uglifyjs2"
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}

            <!-- Maps -->
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyB3nP1qZvWfWiDArNPaAdoo5nM_L9iJQgY&sensor=true&libraries=places&language=fr&region=fr"></script>
            <script type="text/javascript" src="/js/vendor/gmap3.min.js"></script>

            <!-- Facebook -->
            {#<script>
                window.fbAsyncInit = function() {
                    // init the FB JS SDK
                    FB.init({
                        appId      : '255241114611621',                        // App ID from the app dashboard
                        status     : true,                                 // Check Facebook Login status
                        xfbml      : true                                  // Look for social plugins on the page
                    });
                };

                // Load the SDK asynchronously
                (function(d, s, id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

                function fb_login(event) {
                    FB.getLoginStatus(function(response) {
                        if (response.status === 'connected') {
                            // connected
                            alert('Already connected, redirect to login page to create token.');
                            document.location = "{{ url('hwi_oauth_service_redirect', {service: 'facebook'}) }}";
                        } else {
                            // not_authorized
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    document.location = "{{ url('hwi_oauth_service_redirect', {service: 'facebook'}) }}";
                                } else {
                                    alert('Cancelled.');
                                }
                            }, {scope: 'email'});
                        }
                    });
                }
            </script>#}

            {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    {% endspaceless %}
    </body>
</html>
