<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                "bootstrap/css/bootstrap.min.css"
                "css/nprogress.css"
                "css/global.css"
                "css/theme.css"
                "css/default.css"
                filter="cssrewrite"
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            {% block extra_stylesheets %}{% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="clzk-header">
            {% block header %}
                <nav class="navbar navbar-inverse navbar-fixed-top clzk-navbar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header col-md-3 col-sm-3 col-xs-3">
                            <a class="navbar-brand" href="{{ path('colzak_static_homepage') }}"><span class="hidden-xs">buskeet.com</span><span class="visible-xs">b</span></a>
                        </div>
                        <div class="nav navbar-nav navbar-right col-md-9 col-sm-9 col-xs-9 pull-right">
                            <div class="pull-right">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-collapse">
                                    <!-- <div class="col-md-6"> -->
                                        <ul class="nav navbar-nav navbar-right">
                                            {% if is_granted('ROLE_USER') %}
                                                <!-- Notif (feature) -->
                                                {#<li><a href="#">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                    <span class="label label-danger">4</span>
                                                </a></li>#}
                                                <li>
                                                    <a href="{{ path('colzak_user_homepage', { username: app.user.username }) }}">
                                                        <div class="pull-left clzk-navbar-profile-picture-container">
                                                            {% if app.user.profile.photos|length > 0 %}
                                                                {% for photo in app.user.profile.photos %}
                                                                    {% if photo.isProfilePicture %}
                                                                        <img src="{{ photo.thumbPath }}" class="img-responsive" width="50">
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <img src="/img/user_256.png" alt="..." class="img-responsive clzk-navbar-profile-picture" width="50">
                                                            {% endif %}
                                                        </div>
                                                        <div class="pull-left">
                                                            {{ app.user.profile.firstname }}
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span> <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        {{ render(controller('ColzakMessageBundle:Messages:lastThread')) }}
                                                        <li class="divider"></li>
                                                        <li><a href="#">Messagerie</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span></a></li>
                                            {% else %}
                                                <li><a href="#" data-toggle="modal" data-target="#login-modal">Connexion</a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#register-modal">Inscription</a></li>
                                            {% endif %}
                                            <!-- <li><a href="#">Ajouter un évènement</a></li> -->
                                        </ul>
                                    <!-- </div> -->
                                </div><!-- /.navbar-collapse -->
                            </div>
                            <div class="pull-right clzk-search-navbar">
                                <div class="input-group">
                                    <input type="text" class="form-control clzk-form-control clzk-search-form" id="clzk-search-input" placeholder="Ou êtes-vous ?">
                                    <span class="input-group-addon clzk-input-group-addon clzk-geoloader hidden"><img src="/img/ajax-loader.gif" class="img-responsive" width="20"></span>
                                    <span class="input-group-addon clzk-input-group-addon clzk-search-form-geolocation-btn"><span class="glyphicon glyphicon-map-marker"></span></span>
                                    <span class="input-group-addon clzk-input-group-addon clzk-search-form-submit-btn"><span class="glyphicon glyphicon-search"></span></span>
                                    <input type="hidden" id="clzk-search-addressNumber" name="clzk-search-addressNumber">
                                    <input type="hidden" id="clzk-search-addressStreet" name="clzk-search-addressStreet">
                                    <input type="hidden" id="clzk-search-addressCity" name="clzk-search-addressCity">
                                    <input type="hidden" id="clzk-search-addressCountry" name="clzk-search-addressCountry">
                                    <input type="hidden" id="clzk-search-addressZipcode" name="clzk-search-addressZipcode">
                                    <input type="hidden" id="clzk-search-addressSublocality" name="clzk-search-addressSublocality">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}
        </header>

        <div class="container-fluid clzk-global-container">
            <div class="clzk-flash-messages-container alert">
                <div class="row">
                    <div class="col-md-2 sign-container">
                        <span class="glyphicon message-sign"></span>
                    </div>
                    <div class="col-md-8">
                        <p class="message-text"></p>
                    </div>
                </div>
            </div>
            {% block body %}
                <div class="row">
                    <div class="col-md-2 clzk-left-region">
                        {% block menu_region %}{% endblock %}
                    </div>
                    <div class="col-md-10 clzk-right-region">
                        <div class="clzk-scrolling-content row">
                            <div class="col-md-12">
                                {% block content_region %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        {#} modal {#}
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="login-modal-label">Je m'identifie</h4>
                    </div>
                
                    <div class="modal-body">
                        {{ render(controller('ColzakUserBundle:Security:embeddedLogin')) }}
                    </div>
      
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" id="login-button">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="login-modal-label">Je m'identifie</h4>
                    </div>
                
                    <div class="modal-body">
                        {{ render(controller('ColzakUserBundle:Registration:embeddedRegister')) }}
                    </div>
      
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary" id="login-button">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        {% block extra_modal %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                "bundles/fosjsrouting/js/router.js"
                "js/jquery/jquery-2.0.2.min.js"
                "js/jquery/ui-widgets/jquery.ui.widget.min.js"
                "js/jquery/jquery.ui.core.min.js"
                "bootstrap/js/bootstrap.min.js"
                "js/vendor/nprogress.js"
                "js/global.js"
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            {% if app.debug %}
                {% javascripts
                    "js/fos_js_routes.dev.js"
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% else %}
                {% javascripts
                    "js/fos_js_routes.prod.js"
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=fr&region=fr"></script>
            <script type="text/javascript" src="/js/vendor/gmap3.min.js"></script>
            {% block extra_javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
