{% form_theme form 'ColzakUserBundle:Form:fields.html.twig' %}
	
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" novalidate>
    <div class="col-md-12">
        {{ form_widget(form.current_password, { 'attr': {'class' : 'form-control clzk-form-control', 'placeholder': 'Mot de passe actuel'}}) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class' : 'form-control clzk-form-control', 'placeholder': 'Nouveau mot de passe'}}) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class' : 'form-control clzk-form-control', 'placeholder': 'Confirmer le nouveau mot de passe'}}) }}
       	{{ form_rest(form) }}
    </div>
    <div class="col-md-12">
    	<button type="submit" class="btn btn-primary pull-right">Valider</button>
    </div>
</form>
