{% form_theme form 'ColzakUserBundle:Form:fields.html.twig' %}
<div class="clzk-register-container">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" role="form" id="register-form">
        {{ form_widget(form.profile.firstname) }}
        {{ form_widget(form.profile.lastname) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second) }}

        <hr>
        <label class="control-label">{{ form_label(form.profile.birthdate) }}</label>
        {{ form_widget(form.profile.birthdate) }}

        <hr>
        <label class="control-label">{{ form_label(form.profile.gender) }}</label>
        {{ form_widget(form.profile.gender) }}
        <br />
        {{ form_rest(form) }}
        <button type="submit" id="_submit" name="_submit" class="btn btn-default btn-block hidden">Je m'inscris</button>
    </form>
</div>