{% extends 'ColzakMessageBundle::layout.html.twig' %}

{% block title %}Buskeet | Messagerie{% endblock %}
{% block extra_stylesheets %}
    {% stylesheets
        "css/message.css"
        filter="uglifycss"
        filter="cssrewrite"
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block menu_region %}
    {#} MENU TEMPLATES {#}
    <div id="clzk-menu-region"></div>
    <script type="text/template" id="clzk-message-menu-layout">
        <div id="clzk-message-menu-region"></div>
    </script>
    {% include 'ColzakMessageBundle:Message:templates/message_menu.html.twig' %}
{% endblock %}

{% block content_region %}
    <div id="clzk-main-region" class="full-height"></div>

    {#} Search Layout {#}
    <script type="text/template" id="clzk-message-layout">
        <div class="row">
            <div class="col-md-8">
                <div id="clzk-message-thread-region"></div>
            </div>
        </div>
    </script>

    {#} Modal Layout {#}
    <script type="text/template" id="clzk-modal-layout">
        <div id="clzk-modal-content-region"></div>
    </script>

    {% include 'ColzakMessageBundle:Message:templates/message_thread.html.twig' %}
{% endblock %}

{% block extra_javascripts %}
    {% javascripts
        "js/jquery/ui-widgets/jquery.ui.datepicker.min.js"
        "js/jquery/jquery.nouislider.min.js"
        "js/vendor/underscore-1.4.4.min.js"
        "js/vendor/backbone-1.0.0.min.js"
        "js/vendor/backbone-deepmodel-min.js"
        "js/vendor/backbone.marionette-1.0.1.min.js"
        "js/vendor/backbone.stickit.min.js"
        "js/vendor/backbone-memento.min.js"
        "js/vendor/moment-2.0.0.min.js"
        "js/vendor/moment.lang.fr.min.js"
        "js/app/App.js"
        "js/app/Message.js"
        "js/app/models/Messages.js"
        "js/app/models/Thread.js"
        "js/app/views/MessageView.js"
        "js/app/views/ThreadView.js"
        filter="uglifyjs2"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(document).ready(function() {
        moment.lang('fr');
        var options = {
                module: 'message',
                path: "{{ path(app.request.attributes.get('_route')) }}",
                user: {{ app.user|serialize|raw }},
                userId: "{{ app.user.id }}",
                threadId: "{{ threadId }}"
        };
        App.start(options);
    });
    </script>
{% endblock %}