{% extends 'ColzakSearchBundle::layout.html.twig' %}

{% block title %}Buskeet | Recherche{% endblock %}

{% block meta %}
    {% if queryUrl.direction == 'events' %}
        <meta name="description" content="Retrouvez tous les jam session autour de {{ queryUrl.localization|replace('--', ', ') }}">
    {% else %}
        <meta name="description" content="Retrouvez tous les musiciens autour de {{ queryUrl.localization|replace('--', ', ') }}">
    {% endif %}
{% endblock %}

{% block extra_stylesheets %}
    {% stylesheets
        "css/search.css"
        "css/jquery.nouislider.css"
        filter="cssrewrite"
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="clzk-main-region" class="full-height"></div>

    {#} Search Layout {#}
    <script type="text/template" id="clzk-search-layout">
        <div class="row">
            <div class="col-md-3 clzk-search-menu-region-container">
                <div id="clzk-search-menu-region"></div>
            </div>
            <div class="col-md-6 clzk-search-results-region-container">
                <div id="clzk-search-results-region"></div>
                <div id="clzk-search-pagination-region"></div>
            </div>
            <div class="col-md-6 clzk-preview-container">
                <div id="clzk-search-preview-region"></div>
            </div>
        </div>
    </script>

    {#} Modal Layout {#}
    <script type="text/template" id="clzk-modal-layout">
        <div id="clzk-modal-content-region"></div>
    </script>

    {% include 'ColzakSearchBundle:Search:templates/search_menu.html.twig' %}
    {% include 'ColzakSearchBundle:Search:templates/search_results.html.twig' %}
    {% include 'ColzakSearchBundle:Search:templates/search_events.html.twig' %}
    {% include 'ColzakSearchBundle:Search:templates/search_pagination.html.twig' %}
{% endblock %}

{% block extra_javascripts %}
    {% javascripts
        "js/jquery/ui-widgets/jquery.ui.datepicker.min.js"
        "js/jquery/jquery.nouislider.min.js"
        "js/vendor/underscore-1.4.4.min.js"
        "js/vendor/backbone-1.0.0.min.js"
        "js/vendor/backbone-deepmodel-min.js"
        "js/vendor/backbone.marionette-1.0.1.min.js"
        "js/vendor/backbone.stickit.min.js"
        "js/vendor/backbone-memento.min.js"
        "js/vendor/moment-2.0.0.min.js"
        "js/vendor/moment.lang.fr.min.js"
        "js/app/App.js"
        "js/app/Search.js"
        "js/app/models/Search.js"
        "js/app/models/Profile.js"
        "js/app/views/SearchView.js"
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(document).ready(function() {
        moment.lang('fr');
        var options = {
                module: 'search',
                queryUrl: {{ queryUrl|serialize|raw }},
                path: "{{ path(app.request.attributes.get('_route')) }}",
                authUser: {{ app.user|serialize|raw }}
        };
        App.start(options);
    });
    </script>
{% endblock %}